@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100&family=Roboto:ital,wght@0,100;1,400&display=swap');

header{
    width: 100%;
    height: 70px;
    background-color: #f44336;

}
h2{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    color: #edf0f1;
}
span{
    color: #f44336;
}
ul{
    width: auto;
    float: right;
    margin-top: 8px;

}
li{
    display: inline-block;
    padding: 15px 30px;
}
a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2vw;
}
a:hover{
    color: #f44336;
    transition: 0.5s;
}